includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - src
    level: 3
    tmpDir: .phpstan.cache
    databaseMigrationsPath:
        - database/migrations
